.pageContainer {
  min-height: "100vh";
  background-color: var(--background-color);
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 12px 24px;
  background-color: var(--background-color);
}

.navRight {
  display: flex;
  gap: 10px;
}

.btnLogin {
  padding: 8px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btnSignup {
  padding: 8px 20px;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.container {
  max-width: 420px;
  margin: 40px auto;
  padding: 40px;
  background-color: rgb(237, 237, 237);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup {
  margin-bottom: 20px;
}

.labelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: var(--text-color);
}

.togglePassword {
  font-size: 13px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

input {
  width: 100%;
  padding: 12px 14px;
  font-size: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

input:focus {
  border-color: var(--primary-color);
}

.forgotPassword {
  text-align: right;
  font-size: 13px;
  color: #6b7280;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.btnSubmit {
  width: 100%;
  padding: 14px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.divider {
  margin: 30px 0;
}

hr {
  border: none;
  border-top: 1px solid #e5e7eb;
}
.loginText {
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 15px;
  font-size: 15px;
}
.btnLogOutline {
  width: 100%;
  padding: 14px;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.error {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
}

.fieldError {
  color: #dc3545;
  font-size: 12px;
  margin-top: 6px;
}
